<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h1>Angular Router playground</h1>
        <nav>
          <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a>
          |
          <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">Heroes</a>
           |
          <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a>  
        </nav>
      </div>
    </div>
  </div>
</section>