<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">

<h3>CRISIS CENTER</h3>
<p>Get your crisis here</p>


<div class="m-card">
<div class="title">Benefits for workers</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis</p>
</div>
<div class="m-card">
<div class="title">Programs for employers</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis</p>
</div>
<!-- M Card Image -->
<div class="m-card-image">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1598744423275-60100950c95b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8YnJpdGlzaCUyMGNvbHVtYmlhfGVufDB8MHwwfA%3D%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
</div>
<div class="m-content-wrapper only-heading">
<div class="title">Working with safety</div>
</div>
</div>
<div class="m-card-image with-content">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
</div>
<div class="m-content-wrapper">
<div class="title">Rapid prototyping</div>
<p>Advice and examples</p>
</div>
</div>
<!-- M Card Long -->
<div class="m-card-long">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1605725961202-18c2678ea41e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y292aWR8ZW58MHx8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
</div>
<div class="m-content-wrapper">
<div class="title">New Covid rules for work</div>
<p class="card-wraptext">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem
ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit
Lorem ipsum dolor sit amet, ipsum dolor sit amet, consectetur adipisicing elit Lorem
ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit
Lorem ipsum
</p>
<a href="#" class="morecard-info">Show more</a>
</div>
</div>
<div class="m-card-long">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8b2ZmaWNlJTIwc3BhY2V8ZW58MHx8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
</div>
<div class="m-content-wrapper">
<div class="title">Creating safer work spaces</div>
<p class="card-wraptext">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem
ipsum
dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur
adipisicing elit
Lorem ipsum dolor sit amet,
consectetur adipisicing elit
</p>
<a href="#" class="morecard-info">Show more</a>
</div>
</div>
<!-- M Card Block -->
<div class="clearfix">
<div class="m-row">
<div class="col-6">
<div class="m-card-block">
<a href="https://www.google.com">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
</div>
<div class="title">Reports</div>
</a>
</div>
</div>
<div class="col-6">
<div class="m-card-block">
<a href="https://www.google.com">
<div class="img-holder">
<img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
</div>
<div class="title">Documents</div>
</a>
</div>
</div>
</div>
</div>
<!-- M Card Overlay -->
<div class="clearfix">
<div class="m-row">
<div class="col-6">
<div class="m-card-overlay">
<a href="https://www.google.com">
<img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
<div class="title">Test cases</div>
</a>
</div>
</div>
<div class="col-6">
<div class="m-card-overlay">
<a href="https://www.google.com">
<img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfDB8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60" alt="">
<div class="title">Client files</div>
</a>
</div>
</div>
</div>
</div>




      </div>
    </div>
  </div>
</section>