
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Your profile</h2>
              <p>This is a secondary text helper. Explains the purpose of filling up this form</p>
            </div>
          </div>
          <div class="row">
            <!-- COL 1   -->
            <div class="col-md-4">
              <div class="form-group"><label for="">First name</label><input type="text" class="form-control"></div>
              <div class="form-group"><label for="">Middle name</label><input type="text" class="form-control"></div>
              <div class="form-group"><label for="">Last name</label><input class="form-control" type="text"></div>
            </div>
            <!-- COL 2   -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputmodal">Gender</label>
                <select class="form-control" id="inputmodal">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="form-group"><label for="">Last 4 digits of SIN</label><input type="text" class="form-control" value="5673"></div>
              <div class="form-group"><label for="">Expiry date</label><input type="date" class="form-control" value="5673"></div>
            </div>
            <!-- COL 3   -->
            <div class="col-md-4">
              <img class="img-fluid d-block" src="http://placehold.it/800x600">
            </div>
          </div>
        </div>
      