<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="pagetitle py-4">Thank you for setting up direct deposit&nbsp;</h1>
      <div class="outsidebox">
        <div class="innerbox">
          <div class="confirmationbox">
            <h3>Your direct deposit reference number is: 1234qpwo</h3>
            <table class="my-3">
              <tbody>
                <tr>
                  <td style="padding-right:27px"><strong>Name:</strong></td>
                  <td>Joe Smith</td>
                </tr>
                <tr>
                  <td style="padding-right:27px"><strong>Customer Care number:</strong></td>
                  <td>0000000001</td>
                </tr>

              </tbody>
            </table>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut nisi ut sapien lobortis aliquet
              tempus sed tellus. Fusce vitae lorem id quam placerat lacinia a nec ligula. Cras fermentum ex in
              ipsum molestie, quis malesuada purus vulputate. Etiam lobortis leo vitae auctor faucibus. Vivamus
              viverra magna nec metus suscipit, a laoreet mi congue. Nulla non dui sit amet mi finibus eleifend.
              Donec luctus massa a ante tempor, ut euismod nisl dictum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>