
<div class="list-group m-4">
<a href="#" class="list-group-item list-group-item-action" target="_blank">Account details</a>
<a href="#" class="list-group-item list-group-item-action" target="_blank">Payment history</a>
<a href="#" class="list-group-item list-group-item-action" target="_blank">Active claims</a>
<a href="#" class="list-group-item list-group-item-action" target="_blank">Contacts and bookmarks</a>
<a href="#" class="list-group-item list-group-item-action" target="_blank">Important documents</a>
</div>
