
<div class="list-group m-4">
<a routerLink="/heroes-list" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >Instructions</a>
<a routerLink="/crisis-list" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >Crisis list</a>
<a  routerLink="/resources" routerLinkActive="activebutton" class="list-group-item list-group-item-action" >Resources</a>
<a routerLink="/form" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >Application form</a>
<a routerLink="/confirmation" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >Confirmation</a>
<a routerLink="/dashboard" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >Dashboard</a>
<a routerLink="/account" routerLinkActive="activebutton"  class="list-group-item list-group-item-action" >My account</a>
</div>


