
<div class="m-subbar normal">
<div class="row">
<div class="col-12">
<a href="#"><i class="fa fa-chevron-left"></i> Back</a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-6">
<a href="#"><i class="fa fa-chevron-left"></i> Back</a>
</div>
<div class="col-6 text-right">
<a href="#"> Edit</a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-4">
<a href="#"><i class="fa fa-chevron-left"></i> Back</a>
</div>
<div class="col-4 text-center">
<div class="title">Inbox</div>
</div>
<div class="col-4 text-right">
<a href="#"> Edit</a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-4">
<a href="#"><i class="fa fa-chevron-left"></i> Back</a>
</div>
<div class="col-8 text-right">
<a href="#" class="icon"><i class="fa fa-user"></i></a>
<a href="#" class="icon"><i class="fa fa-bookmark-o"></i></a>
<a href="#" class="icon"><i class="fa fa-sort-amount-asc"></i></a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-4">
<a href="#"><i class="fa fa-chevron-left"></i> Back</a>
</div>
<div class="col-8 text-right">
<a href="#" class="icon"><i class="fa fa-user"></i></a>
<a href="#" class="icon"><i class="fa fa-bookmark-o"></i></a>
<a href="#" class="icon"><i class="fa fa-sort-amount-asc"></i></a>
<a href="#" class="icon"><i class="fa fa-chevron-left"></i></a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-12 text-center">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<label class="btn btn-secondary active" tabindex="0"><input checked="" type="radio" name="options" id="option1" autocomplete="off"> Option
A</label>
<label class="btn btn-secondary" tabindex="0"><input type="radio" name="options" id="option2" autocomplete="off"> Option B</label>
</div>
</div>
</div>
</div>



<div class="m-searchbar">
<div class="m-row">
<div class="col-12">
<!-- <input type="email" class="form-control initial" > -->
<div class="input-group custom-search transparent initial resizable mt-0">
<input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="" style="font-family:Arial, FontAwesome">
<!-- <i class="clearable__clear fa fa-search"></i> -->
</div>
<a href="#" class="link">
<span class="link-text">Autosave Enabled</span>
<span class="link-icon hidden"><i class="fa fa-save"></i></span>
</a>
</div>
</div>
</div>
<div class="m-subbar normal">
<div class="row">
<div class="col-12">
<div class="input-group custom-search transparent">
<input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="" style="font-family:Arial, FontAwesome">
<!-- <i class="clearable__clear fa fa-search"></i> -->
</div>
</div>
</div>
</div>
